<div class="flex flex-col min-h-screen">
  <app-header />

  <!-- Main -->
  <main class="flex-grow py-8 px-4">
    <div class="container mx-auto">
      <div class="flex flex-col md:flex-row">
        <!-- Columna Izquierda -->
        <div class="w-full md:w-1/5 p-2 md:p-4">
          <nav
            class="flex flex-col items-center justify-center md:justify-left p-4 rounded-lg gap-y-5"
          >
            <!-- Filtros -->
            <h3 class="text-xl mb-2 text-center">Filtrar per centre:</h3>
            <div
              class="flex flex-wrap md:flex-row flex-wrap justify-center md:flex-col md:flex-row gap-x-4 gap-y-3 md:gap-y-6"
            >
              <!-- Tots -->
              <!-- <button
                 data-type="centre"
                (click)="handleCentreClick($event)"
                class="text-sm text-center bg-gray-500 transform hover:scale-105 transition-transform duration-300 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer"
              >
                Tots
              </button> -->

              <!-- Infantil -->
              <button
                data-type="centre"
                (click)="handleCentreClick($event)"
                class="text-sm text-center bg-blue-500 hover:scale-105 transition-transform duration-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer"
              >
                Infantil
              </button>

              <!-- Primaria -->
              <button
                data-type="centre"
                (click)="handleCentreClick($event)"
                class="text-sm text-center bg-green-500 hover:scale-105 transition-transform duration-300 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer"
              >
                Primaria
              </button>

              <!-- Secundària -->
              <button
                data-type="centre"
                (click)="handleCentreClick($event)"
                class="text-sm text-center bg-orange-500 hover:scale-105 transition-transform duration-300 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded-full cursor-pointer"
              >
                Secundària
              </button>
            </div>
          </nav>
        </div>
        <!-- Columna Derecha -->
        <div class="w-full md:w-4/5 p-2">
          <div class="flex flex-col justify-center items-center p-4 rounded-lg">
            <div class="overflow-hidden w-full h-[500px] rounded-lg shadow-md">
              <app-map></app-map>
            </div>
            <div
              class="legend flex flex-col md:flex-row gap-3 justify-center items-center mt-8"
            >
              <div class="col-1 flex justify-center items-center">
                <span
                  ><i class="fa-solid fa-circle-info pr-2"></i>Renda bruta anual
                  per unitat familiar:</span
                >
              </div>
              <div class="col-2 flex flex-wrap">
                <button
                  data-type="renta"
                  class="flex justify-center items-center text-sm text-center w-[120px] bg-low"
                  (click)="handleRentaClick($event, '40000')"
                >
                  Fins a 40k
                </button>
                <button
                  data-type="renta"
                  class="flex justify-center items-center text-sm text-center w-[120px] bg-medium"
                  (click)="handleRentaClick($event, '50000')"
                >
                  De 40k a 50k
                </button>
                <button
                  data-type="renta"
                  class="flex justify-center items-center text-sm text-center w-[120px] bg-high"
                  (click)="handleRentaClick($event, '60000')"
                >
                  De 50k a 60k
                </button>
                <button
                  data-type="renta"
                  class="flex justify-center items-center text-sm text-center w-[120px] bg-veryHigh"
                  (click)="handleRentaClick($event, '80000')"
                >
                  De 60k a 80k
                </button>
                <button
                  data-type="renta"
                  class="flex justify-center items-center text-sm text-center w-[120px] bg-extreme"
                  (click)="handleRentaClick($event, '100000')"
                >
                  Més de 80k
                </button>
              </div>
            </div>
            <!-- <div class="w-full bg-gray-100 text-center mt-10 h-56 rounded-lg shadow-md">
              <h3 class="text-2xl mt-8 mb-4">Más información</h3>
              <p></p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <app-footer />
</div>
